<div class="d-flex justify-content-center align-items-center container ">
  <div class="form mt-5">
    <%= image_tag "logo.png", class: "mb-5" %>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group mb-2">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group mb-2">
        <%= f.label :password %>
        <em>(Should be 6 characters)</em>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      
        <%= f.submit "Log in", class: "btn btn-primary col-12 btn-block mt-3 mb-3" %>

    <% end %>
        <%= link_to "Sign up", new_user_registration_path %>
  </div>
</div>

